 *{
	 margin: 0px;
	 padding: 0px;
 }
 body{
	 font-family:Raleway;

 }
 p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;

}
hr {
height: 2px;
background-color: #E65F82;



}

 .vh100 {
 	height: 100vh;
 }
/* Estilo al Header y barra de navegación*/
header {
	width: 100%;
	height: 100vh;
	background: url(../assets/images/flowers-min.jpeg) ;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position:   center; */
  z-index: 999px;

}
.logo {
	position: fixed;
	float: left;
	margin: 16px 36px;
	color:#ffff;
	font-weight: bold;
	font-size: 24px;
}

nav {
	position: fixed;
	width: 100%;
  z-index: 999;
  text-decoration: none;
}
nav ul {
	list-style: none;
	background: rgba(0,0,0,0);
	overflow: hidden;
	color: #58387F;
	padding: 0;
	text-align: center;
	margin: 0;
	transition: 1s;

}

nav.black ul {
	background: #000;
}
nav ul li {
	display: inline-block;
	padding: 20px;
}
nav ul li a {
	text-decoration: none;
	color: #CF5575;
	font-size:20px;
  list-style: none;
}
.menu-icon {
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	/* cursor: pointer; */
	color:#fff;
	display: none;
}
/* Icono de descenso */
.more {
  background-color: rgb(244, 244, 244);
  color: ##E65F82;

}

/* Menú desplegable */
@media(max-width:800px) {
.logo {
	position: fixed;
	top: 0;
  margin-top: 16px;
	background:#000;
}
nav ul {
	max-height: 0px;
	background: #000;
}
nav.black ul {
	background: #000;
}
.showing {
	max-height: 20em;
}
nav ul li {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}
.menu-icon{
	display: block;
}
}
/*--- SOBRE MI ----*/
  #zule{
  width: 300px;
  border-radius: 200px;
}

.btn-cv {
  /* background-color: #FD2CC5; */
  border-radius: 5px;
  margin-top: 5%;
  color:#fff;

 }
.btn-cv-hover:hover{
  color:#fff;
  text-decoration: none;
}

.bg{
  background: url(../assets/images/figure.jpeg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: inherit;
  opacity: 10;
}

 /* PROYECTOS */
 /*SECCION DE PROYECTOS WEB*/
.proyect{
  background:#E488A1;
  border: #ffff;
  }

.description {
  height: 300px;
}
.easybus {
  /* padding-left: 100px; */
  /* padding-top: 80px; */
}

/* REDES SOCIALES */
.redes {
  font-size: 0.9em;
  /* padding-top: 1%; */
  list-style: none;
  display: inline-block;
  margin: 20px;
}
